<!-- views/404.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>404 Error</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="error-page">
    <h1>404</h1>
    <p>Uh oh. We've been exposed...</p>
    <!-- <img src="/imgs/404.jpg" alt="exposed wires"> -->
  </div>
</body>
</html>
