<!DOCTYPE html>
<html>
<head>
  <title>Countdown to Launch</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="wires">
    <div class="countdown-container">
      <div class="countdown-header">
        <h1>Countdown Until Epoch Time: 1747856400</h1>
        <p>2025/03/21:09MST</p>
      </div>
      <div class="countdown-display">
        <div class="digit"><%= days %></div>
        <div class="label">Days</div>
        <div class="digit"><%= hours %></div>
        <div class="label">Hours</div>
        <div class="digit"><%= minutes %></div>
        <div class="label">Minutes</div>
      </div>
    </div>
  </div>
  <script src="/script.js"></script>
</body>
</html>
